.POPOSFeature {
	font-size: 2em;
	padding: 0.25em;
	margin: 0.125em;
	border-radius: 0.25em;
	background-color: #eee;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}